/* External CSS */

h2 {
    color: #d35400; /* Orange headings */
}


.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}
